@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body
{
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-size: 4.75vw;
    margin: 2em;
    text-align: center;
}

a
{
    color: inherit;
}

.avatar
{
    border-radius: 50%;
    height: auto;
    width: 10em;
}

.fa
{
    font-size: 1.75em;
    padding: 0.3em;
}

@media screen and (orientation: landscape)
{
    body
    {
        font-size: 2vw;
    }
}
