@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://use.fontawesome.com/releases/v6.5.2/css/all.css");

body
{
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 4.65vw;
  margin: 2em;
  text-align: center;
}

a
{
  color: inherit;
}

.avatar
{
  border-radius: 50%;
  height: auto;
  width: 10em;
}

.fab
{
  font-size: 1.55em;
  padding: 0.35em;
}

@media screen and (orientation: landscape)
{
  body
  {
    font-size: 4vh;
  }
}
